{% extends 'front.html.twig' %}

{% block title %}Blog Posts{% endblock %}

{% block body %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{{ asset('img/breadcrumb-bg.jpg') }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>Blog Posts</h2>
                        <div class="bt-option">
                            <a href="{{ path('app_front_post_index') }}">Home</a>
                            <span>Blog</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Blog Section Begin -->
    <section class="blog-section spad">
        <div class="container">
            <div class="row">
                <!-- Most Commented Post (Left Sidebar) -->
                <div class="col-lg-4 col-md-6">
                    <div class="sidebar-option">
                        <div class="so-categories">
                            <h5 class="title">Most Commented Post</h5>
                            {% if mostCommentedPosts|length > 0 %}
                                {% set topPost = mostCommentedPosts|first %}
                                <div class="blog-item">
                                    {% if topPost.image %}
                                        <div class="bi-pic">
                                            <img src="{{ asset('uploads/posts/' ~ topPost.image) }}" alt="{{ topPost.description }}">
                                        </div>
                                    {% endif %}
                                    <div class="bi-text">
                                        <h5><a href="{{ path('app_front_post_show', {'id': topPost.id}) }}">
                                            {{ topPost.description|length > 50 ? topPost.description|slice(0, 50) ~ '...' : topPost.description }}
                                        </a></h5>
                                        <span><i class="fa fa-calendar"></i> {{ topPost.dateU|date('M d, Y') }}</span>
                                        <span><i class="fa fa-comments"></i> {{ topPost.comments|length }}</span>
                                    </div>
                                </div>
                            {% else %}
                                <p>No posts found</p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Main Content -->
                <div class="col-lg-8">
                    <div class="blog-option">
                        <div class="blog-filter">
                            <div class="btn-group">
                                <a href="{{ path('app_front_post_index') }}" 
                                   class="primary-btn {{ not currentType and not currentSort ? 'active' }}">
                                    All Posts
                                </a>
                                <a href="{{ path('app_front_post_index', {'sort': 'most_commented'}) }}" 
                                   class="primary-btn {{ currentSort == 'most_commented' ? 'active' }}">
                                    Most Commented
                                </a>
                            </div>
                            <div class="btn-group">
                                <a href="{{ path('app_front_post_index', {'type': 'Marathon'}) }}" 
                                   class="primary-btn {{ currentType == 'Marathon' ? 'active' }}">
                                    Marathon
                                </a>
                                <a href="{{ path('app_front_post_index', {'type': 'Promotion'}) }}" 
                                   class="primary-btn {{ currentType == 'Promotion' ? 'active' }}">
                                    Promotion
                                </a>
                                <a href="{{ path('app_front_post_index', {'type': 'Diet'}) }}" 
                                   class="primary-btn {{ currentType == 'Diet' ? 'active' }}">
                                    Diet
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        {% for post in posts %}
                            <div class="col-lg-6">
                                <div class="blog-item">
                                    {% if post.image %}
                                        <div class="bi-pic">
                                            <img src="{{ asset('uploads/posts/' ~ post.image) }}" alt="{{ post.description }}">
                                        </div>
                                    {% endif %}
                                    <div class="bi-text">
                                        <h5><a href="{{ path('app_front_post_show', {'id': post.id}) }}">{{ post.description }}</a></h5>
                                        <ul>
                                            <li><i class="fa fa-calendar"></i> {{ post.dateU|date('M d, Y') }}</li>
                                            <li><i class="fa fa-comments"></i> {{ post.comments|length }}</li>
                                        </ul>
                                        <span class="blog-tag">{{ post.type }}</span>
                                        <a href="{{ path('app_front_post_show', {'id': post.id}) }}" class="primary-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-lg-12">
                                <p class="no-posts">No posts found.</p>
                            </div>
                        {% endfor %}
                    </div>

                    {% if totalPages > 1 %}
                        <div class="pagination-wrapper">
                            <div class="pagination">
                                {% if currentPage > 1 %}
                                    <a href="{{ path('app_front_post_index', {
                                        'page': currentPage - 1,
                                        'type': currentType,
                                        'sort': currentSort
                                    }) }}" class="prev-arrow"><i class="fa fa-angle-left"></i></a>
                                {% endif %}
                                
                                {% for i in 1..totalPages %}
                                    <a href="{{ path('app_front_post_index', {
                                        'page': i,
                                        'type': currentType,
                                        'sort': currentSort
                                    }) }}" {{ currentPage == i ? 'class="active"' }}>{{ i }}</a>
                                {% endfor %}
                                
                                {% if currentPage < totalPages %}
                                    <a href="{{ path('app_front_post_index', {
                                        'page': currentPage + 1,
                                        'type': currentType,
                                        'sort': currentSort
                                    }) }}" class="next-arrow"><i class="fa fa-angle-right"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->
{% endblock %} 