{% extends 'front.html.twig' %}

{% block title %}{{ post.description }}{% endblock %}

{% block body %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{{ asset('img/breadcrumb-bg.jpg') }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>Blog Post</h2>
                        <div class="bt-option">
                            <a href="{{ path('app_front_post_index') }}">Blog</a>
                            <span>Post Details</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0">
                    <div class="blog-details-text">
                        {% if post.image %}
                            <div class="blog-details-pic">
                                <img src="{{ asset('uploads/posts/' ~ post.image) }}" alt="{{ post.description }}">
                            </div>
                        {% endif %}
                        <div class="blog-details-title">
                            <h4>{{ post.description }}</h4>
                            <div class="blog-details-tag">
                                <span class="tag-item">{{ post.type }}</span>
                            </div>
                            <p class="blog-details-meta">
                                <span><i class="fa fa-calendar-o"></i> {{ post.dateU|date('M d, Y') }}</span>
                                <span><i class="fa fa-comments-o"></i> {{ post.comments|length }} Comments</span>
                            </p>
                        </div>

                        <!-- Comments Section -->
                        <div class="blog-details-comment">
                            <h4>Comments ({{ post.comments|length }})</h4>
                            {% for comment in post.comments %}
                                <div class="comment-item">
                                    <div class="comment-text">
                                        <h6>{{ comment.user }}</h6>
                                        <span>{{ comment.dateC|date('M d, Y') }}</span>
                                        <p>{{ comment.contenu }}</p>
                                    </div>
                                </div>
                            {% endfor %}

                            <!-- Add Comment Form -->
                            <div class="leave-comment">
                                <h4>Leave A Comment</h4>
                                <a href="{{ path('app_front_comment_new', {'id': post.id}) }}" class="primary-btn">Add Comment</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sidebar -->
                <div class="col-lg-4 col-md-8 p-0">
                    <div class="sidebar-option">
                        <!-- Recent Posts -->
                        <div class="so-latest">
                            <h5 class="title">Recent Posts</h5>
                            {% if recentPosts|length > 0 %}
                                {% for recentPost in recentPosts %}
                                    <div class="latest-item">
                                        {% if recentPost.image %}
                                            <div class="li-pic">
                                                <img src="{{ asset('uploads/posts/' ~ recentPost.image) }}" alt="{{ recentPost.description }}">
                                            </div>
                                        {% endif %}
                                        <div class="li-text">
                                            <h6><a href="{{ path('app_front_post_show', {'id': recentPost.id}) }}">
                                                {{ recentPost.description|length > 50 ? recentPost.description|slice(0, 50) ~ '...' : recentPost.description }}
                                            </a></h6>
                                            <span><i class="fa fa-calendar"></i> {{ recentPost.dateU|date('M d, Y') }}</span>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>No recent posts found</p>
                            {% endif %}
                        </div>

                        <!-- Most Commented Posts -->
                        <div class="so-popular">
                            <h5 class="title">Most Commented Posts</h5>
                            {% if mostCommentedPosts|length > 0 %}
                                {% for popularPost in mostCommentedPosts %}
                                    <div class="popular-item">
                                        <div class="pi-text">
                                            <h6><a href="{{ path('app_front_post_show', {'id': popularPost.id}) }}">
                                                {{ popularPost.description|length > 50 ? popularPost.description|slice(0, 50) ~ '...' : popularPost.description }}
                                            </a></h6>
                                            <span><i class="fa fa-comments"></i> {{ popularPost.comments|length }} Comments</span>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>No popular posts found</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->
{% endblock %} 