{# templates/abonnement/_form.html.twig #}
{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': ''}}) }}
    <div class="row g-3">
        <div class="col-md-6">
            {{ form_row(form.Nom, {
                'attr': {'class': 'form-control'},
                'label_attr': {'class': 'form-label fw-bold'}
            }) }}
        </div>
        
        <div class="col-md-6">
            {{ form_row(form.Prix, {
                'attr': {'class': 'form-control'},
                'label_attr': {'class': 'form-label fw-bold'}
            }) }}
        </div>
        
        <div class="col-md-6">
            {{ form_row(form.Duree, {
                'attr': {'class': 'form-control'},
                'label_attr': {'class': 'form-label fw-bold'}
            }) }}
        </div>
        
        <div class="col-md-6">
            {{ form_row(form.salle, {
                'attr': {'class': 'form-select'},
                'label_attr': {'class': 'form-label fw-bold'}
            }) }}
        </div>
        
        <div class="col-12">
            {{ form_row(form.Description, {
                'attr': {'class': 'form-control', 'rows': 4},
                'label_attr': {'class': 'form-label fw-bold'}
            }) }}
        </div>
        
        <div class="col-12 text-end mt-4">
            <button class="btn {{ button_class|default('btn-primary') }}">
                <i class="fas fa-save me-1"></i> {{ button_label|default('Enregistrer') }}
            </button>
        </div>
    </div>
{{ form_end(form) }}