{% extends 'front.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/stylefront.css') }}">
{% endblock %}

{% block body %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{{ asset('img/breadcrumb-bg.jpg') }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>Add Comment</h2>
                        <div class="bt-option">
                            <a href="{{ path('app_front_post_show', {'id': post.id}) }}">Back to Post</a>
                            <span>New Comment</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Comment Form Section Begin -->
    <section class="leave-comment spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="leave-comment-form">
                        <h4>Leave Your Comment</h4>
                        {{ include('front/comment/_form.html.twig') }}
                        <div class="mt-4">
                            <a href="{{ path('app_front_post_show', {'id': post.id}) }}" class="primary-btn">Back to Post</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Comment Form Section End -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const emojiPicker = document.querySelector('.emoji-picker');
            const emojiButtons = document.querySelectorAll('.emoji-button');
            const commentTextarea = document.querySelector('#comment_content');

            emojiButtons.forEach(button => {
                button.addEventListener('click', function() {
                    const emoji = this.getAttribute('data-emoji');
                    const start = commentTextarea.selectionStart;
                    const end = commentTextarea.selectionEnd;
                    const text = commentTextarea.value;
                    const before = text.substring(0, start);
                    const after = text.substring(end);
                    
                    commentTextarea.value = before + emoji + after;
                    commentTextarea.focus();
                    commentTextarea.selectionStart = commentTextarea.selectionEnd = start + emoji.length;
                });
            });
        });
    </script>
{% endblock %} 